body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.menubar {
    overflow: hidden;
    background-color: #3b5999;
}

.logo {
    float: left;
    width: 48%;
    padding-left: 100px;
    margin-top: 3px;
}

.login {
    float: left;
    padding-top: 3px;
}

.login p {
    color: white;
    margin-bottom: 10px;
}

.login span p {
    padding-left: 182px;
    margin: 7px;
    color: lightslategrey;
    font-size: 14px;
}

.main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+30,ddf1f9+100,a0d8ef+100 */
    background: rgb(254, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 30%, rgba(221, 241, 249, 1) 100%, rgba(160, 216, 239, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 30%, rgba(221, 241, 249, 1) 100%, rgba(160, 216, 239, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 30%, rgba(221, 241, 249, 1) 100%, rgba(160, 216, 239, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh
}

.left {
    width: 46%;
    float: left;
    padding: 34px 41px;
}

.left p {
    font-size: 24px;
    text-align: left;
    color: #0E3890;
    font-weight: 700;
    font-family: arial;
    margin-left: 56px;
}

.left img {
    padding: 30px 107px;
}

.reg {
    width: 30%;
    float: left;
    padding-top: 32px;
    padding-left: 30px;
}

.reg h1 {
    font-family: arial;
}

.reg p {
    font-weight: 700;
    text-align: justify;
    padding: 5px;
    color: grey;
    font-size: 14px;
}

.reg span {
    float: right;
    font-size: 12px;
    color: #6658AE;
}

.language {

	    width: 50%;
    margin: 10px auto;
}

.language a{

	padding: 10px;
}

hr{

	width: 50%;
    margin-left: 333px;
        color: slategrey;
}

.links{

	    width: 52%;
    margin: 0 auto;
}

.links a{

	    padding: 10px 13px;
    margin: 5px 8px;
}

.footer {

	width: 50%;
}

.footer p{

	    margin: 0px auto;
    padding-left: 334px;
    padding-top: 50px;
    font-size: 13px;
    color: lightslategrey;
}

.reg input[type="text"],
.reg input[type="password"],
.reg input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.reg input[type="submit"] {
    background: #6BA656;
    border-radius: 6px;
    font-weight: 700;
    padding: 10px 26px;
    border: 0;
    color: #fff;
    width: 56%;
    font-size: 19px;
    margin-top: 6px;
}

.login input[type="submit"] {
    color: white;
    background: #365899;
}

.login input[type="email"],
.login input[type="password"] {
    margin-right: 10px;
}